#wholepage
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
}

#top
{
    grid-column: 1 / 3;
    grid-row: 1;    
    background-color: #24527c;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#right
{
    border-left: solid 1px #bababa;
}

h2
{
    color: #24527c;
}

h3
{
    color: #24527c;
}